  <div class="card">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <%# island.photos.key do |photo|%>
            <%# <%= cl_image_tag photo, height: 300, width: 400, crop: :fill , class: "d-block w-100"%>
          <%# end %>
        </div>
      </div>
    </div>
    <div class="card-trip-infos">
      <div>
        <h3><%= island.title %></h3>
        <p><strong>Location:</strong> <%= island.address %></p>
        <p><strong>About:</strong> <%= island.description %></p>
        <p><strong>Owner:</strong> <%= island.user.username %></p>
      </div>
      <h2 class="card-trip-pricing">$<%= island.price_per_night %></h2>
  </div>
