<div class="card mt-0 my-0">
  <div id="carouselCardImages" class="carousel slide rounded-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if island.photos.attached? %>
        <div class="carousel-item active">
          <%= cl_image_tag island.photos.last.key, crop: :fill, height: 180, radius: 5, class: "d-block img-responsive w-100"%>
        </div>
        <% island.photos.each do |photo|%>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, crop: :fill , height: 180, radius: 5, class: "d-block img-responsive w-100"%>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mx-3">
      <h3><%= island.title %></h3>
    </div>
    <hr>
  </div>
  <div class="card-trip-infos">
    <div>
      <p><strong>Location:</strong> <%= island.address %></p>
      <p><strong>About:</strong> <%= island.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= island.price_per_night %></h2>
  </div>
</div>
