<% if user_signed_in? %>
  <%= render 'user_navbar' %>
<% else %>
  <%= render 'visitor_navbar' %>
<% end %>

<div class="text-center mt-4">
  <h1><strong>Earth's Most Amazing Islands</strong></h1>
</div>
<div class="cards">
  <% @islands.each do |island| %>
    <div class="card-category">
      <%= link_to island_path(island), class: "text-decoration-none text-dark" do%>
        <%= render partial: 'card', locals: { island: island } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mt-4" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= render partial: 'footer' %>
