<% if user_signed_in? %>
  <%= render 'user_navbar' %>
<% else %>
  <%= render 'visitor_navbar' %>
<% end %>

<div class="container min-vh-100" id="authentication">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4 rounded-3 py-2 mt-1">
      <%= simple_form_for(@island) do |f| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: "btn btn-primary w-100" %>
      <% end %>
      <%= link_to islands_path, class: "btn btn-link text-decoration-none text-black" do %>
      <i class="fas fa-arrow-left"></i> Go back
      <% end %>
    </div>
  </div>
</div>
<%= render 'footer' %>
