<% if user_signed_in? %>
  <%= render 'islands/user_navbar' %>
<% else %>
  <%= render 'islands/visitor_navbar' %>
<% end %>

<div class="container gx-0 ml-0 my-4">
  <div class="row align-items-start">
    <div class="col-12 col-lg-9 gx-0 mr-3" id="show">
      <h3><%= @island.title %></h3>
      <div id="carouselShow" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner px-3">
          <% if @island.photos.attached? %>
            <div class="carousel-item active">
              <%= cl_image_tag @island.photos.last.key, crop: :fill, height: 500, radius: 5, class: "d-block w-100"%>
            </div>
            <% @island.photos.reject do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, crop: :fill , height: 500, radius: 5, class: "d-block w-100"%>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselShow" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselShow" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-trip-infos px-3">
        <div>
          <p><strong>Location:</strong> <%= @island.address %></p>
          <p><strong>About:</strong> <%= @island.description %></p>
          <p class="card-trip-pricing"> <strong>Price:</strong> $<%= @island.price_per_night %> /night</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 forms flex-column gx-0">
      <div id="booking-form">
        <h3>Request Booking</h3>
        <%= simple_form_for [@island, @booking ] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: 'datepicker' } } %>
          <%= f.input :end_date, as: :string,  input_html: { data: { controller: 'datepicker' } } %>
          <%= f.submit 'Request Booking', class: 'btn btn-primary w-100' %>
        <% end %>
      </div>

      <div id="review-form">
        <% if @last_user_booking %>
          <h3>Add a Review</h3>
            <%= simple_form_for [@last_user_booking, @review] do |f| %>
              <%= f.input :rating, input_html: { type: "number", min: 0, max: 5 } %>
              <%= f.input :content %>
              <%= f.submit 'Submit', class: 'btn btn-primary w-100' %>
            <% end %>
        <% end %>
      </div>
      <% if current_user.bookings.last.save %>
        <%= link_to "Go Back", islands_path, class:"btn btn-secondary w-100" %>
      <% else %>
        <%= link_to "Go Back", island_path(@island), class:"btn btn-secondary w-100" %>
      <% end %>
    </div>
  </div>
</div>

<% if @island.user == current_user %>
  <%= link_to "Delete",
    island_path(@island),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <% @island.bookings.each do |booking| %>
    <p><%= link_to "Edit booking", edit_island_booking_path(@island, booking) %></p>
    <p>Starts at: <%= booking.start_date %></p>
    <p>Ends in: <%= booking.end_date %></p>
    <p><%= link_to "Accept booking", accept_island_booking_path(@island, booking), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept this bookings?" }  %></p>
    <p><%= booking.status %></p>
  <% end %>
<% end %>

<div>
  <h3>Reviews of the Island</h3>
  <% @island.bookings.each do |booking| %>
    <% if booking.review %>
      <p>Rating: <%= booking.review.rating %>/5.0</p>
      <p><%= booking.user.username %>: <%= booking.review.content %></p>
    <% end %>
  <% end %>
</div>
