<div class="container" id="authentication">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4 py-3">
      <%= simple_form_for [@island, @booking ] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit 'Request Booking', class: 'btn btn-primary w-100' %>
      <% end %>

      <%= link_to "Go Back", island_path(@island), class:"btn btn-secondary mt-2 w-100" %>
    </div>
  </div>
</div>
