<h3>Welcome to your profile <%= @user.username %>!</h3>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<h3>Bookings to your Islands </h3>
<% @user.islands.each do |island| %>
  <h4><%= island.title %></h4>
  <% island.bookings.each do |booking| %>
    <p>Client: <%= booking.user.username %></p>
    <p>Start Date: <%= booking.start_date.strftime('%A %b %e') %></p>
    <p>End Date: <%= booking.end_date.strftime('%A %b %e') %></p>
    <% if booking.review %>
      <p>Rating: <%= booking.review.rating %></p>
      <% if booking.review.content %>
        <p>Comments: <%= booking.review.content %></p>
      <% end %>
    <% end %>
    <p>Status: <%= booking.status %></p>
    <% if booking.status == "Pending" %>
      <%= link_to 'Accept', accept_island_booking_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Do you want to confirm this choice?' } %>
      <%= link_to 'Decline',  decline_island_booking_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Do you want to confirm this choice?' } %>
    <% end %>
  <% end %>
<% end %>

<h3>Your bookings to stay in other islands</h3>
<% @user.bookings.each do |booking| %>
  <h4><%= booking.island.title %></h4>
  <p>Status: <%= booking.status %></p>
  <p>Start Date: <%= booking.start_date.strftime('%A %b %e') %></p>
  <p>End Date: <%= booking.end_date.strftime('%A %b %e') %></p>
  <% if booking.review %>
    <p>Rating: <%= booking.review.rating %>/5.0</p>
    <p>Comment: <%= booking.review.content %></p>
    <%= link_to 'Edit', edit_booking_review_path(booking, booking.review) %>
    <%= link_to 'Delete', review_path(booking.review), data: { turbo_method: :delete, turbo_confirm: 'Do you want to confirm this choice?' } %>
  <% end %>
  <%= link_to "Edit this booking",  edit_island_booking_path(booking, booking.island) %>
<% end %>

<p><%= link_to 'See all Islands', islands_path %></p>
<p><%= link_to 'Go to home page', root_path %></p>
